################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EdiFabric.Examples.FlatFile/v16
/NET Framework 4.8/.vs/EdiFabric.Examples.FlatFile
/NET Framework 4.8/EdiFabric.Examples.FlatFile.Common/bin
/NET Framework 4.8/EdiFabric.Examples.FlatFile.Common/obj
/NET Framework 4.8/EdiFabric.Examples.FlatFile.Read/bin
/NET Framework 4.8/EdiFabric.Examples.FlatFile.Read/obj
/NET Framework 4.8/EdiFabric.Examples.FlatFile.Write/bin
/NET Framework 4.8/EdiFabric.Examples.FlatFile.Write/obj
