################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EdiFabric.Examples.FlatFile/v16
/NET Framework 4.8/.vs/EdiFabric.Examples.FlatFile
/NET Framework 4.8/EdiFabric.Examples.FlatFile.Common/bin
/NET Framework 4.8/EdiFabric.Examples.FlatFile.Common/obj
/NET Framework 4.8/EdiFabric.Examples.FlatFile.Read/bin
/NET Framework 4.8/EdiFabric.Examples.FlatFile.Read/obj
/NET Framework 4.8/EdiFabric.Examples.FlatFile.Write/bin
/NET Framework 4.8/EdiFabric.Examples.FlatFile.Write/obj
/NET 6/.vs/EdiFabric.Examples.FlatFile
/NET 6/EdiFabric.Examples.FlatFile.Common/bin
/NET 6/EdiFabric.Examples.FlatFile.Common/obj
/NET 6/EdiFabric.Examples.FlatFile.Read/bin
/NET 6/EdiFabric.Examples.FlatFile.Read/obj
/NET 6/EdiFabric.Examples.FlatFile.Write/bin
/NET 6/EdiFabric.Examples.FlatFile.Write/obj
/NET 6/.vs/ProjectEvaluation
/NET Framework 4.8/packages/EdiFabric.10.5.2
/NET Framework 4.8/packages/EdiFabric.10.6.0
/Files/token.txt
/NET Framework 4.8/packages/EdiFabric.10.6.3
